<%- include('partials/header'); -%>


<form id="form">
    <h2>Login Page</h2>
    <label for="email">Email</label>
    <input type="text" name="email"  required />
    <div class="email error" id="emailError" ></div>
    <label for="password">Password</label>
    <input type="password" name="password"  required />
    <div class="password error" id="passwordError"></div>
    <button>Log-In</button>
</form>

<script>

const form = document.getElementById("form")
const emailError = document.getElementById("emailError")
const passwordError = document.getElementById("passwordError")
 form.addEventListener("submit", (e) => {
    e.preventDefault()
    emailError.innerText = ""
   passwordError.innerText = ""
    const emailInput = form.email.value
    const passwordInput = form.password.value
    console.log(passwordInput,emailInput)
    const handleSubmit = async () => {
       try {
         const res = await fetch("/user/login",{
            method:"POST",
            body:JSON.stringify({emailInput,passwordInput}),
           headers: {
            "Content-Type":"application/json"
           }
         })
         const response = await res.json()
         console.log(response)
         if(res.status === 201 ){
            location.assign("/")
            console.log("this is the res",res)
            
         }
       if(res.status === 400){
         
         const {error} = response
         if(error.includes("password")){
         passwordError.innerText = error
         }
         if(error.includes("email")){
         emailError.innerText = error
         }
       }

       } catch (error) {
        console.log("this is the error",error.message)
          
       }
    }
    handleSubmit()
 })
 </script>

<%- include('partials/footer'); -%>